@model Web_Ban_Sach.Infrastructure.Core.PaginationSet<Web_Ban_Sach.Models.BookViewModel>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-02" id="head1">
    <img src="./images/tt/illustratie.gif" alt="">
</div>
<div class="author-1-full-box">

    <div class="box-1">
        <h1> Nguyễn Nhật Ánh </h1>
        <p>
            Trước khi trở thành nhà văn nổi tiếng, Nguyễn Nhật Ánh từng có thời gian đi dạy học, viết báo với nhiều bút danh như Chu Đình Ngạn, Lê Duy Cật, Đông Phương Sóc, Sóc Phương Đông,... Năm 13 tuổi, ông đã có thơ đăng báo. Năm 1984, tác phẩm truyện dài đầu tiên Trước vòng chung kết đã định vị
            tên tuổi của ông trong lòng độc giả và kể từ đó, ông tập trung viết cho lứa tuổi thanh thiếu niên.
        </p>
    </div>
    <div class="box-2">


        <div class="book-full">
            @if (Model.count > 0)
            {
                foreach (var item in Model.items)
                {
                    var url = "/chi-tiet-sach-" + item.ID;
                    <div class="book-s image">
                        <a href="@url"> <img src="@item.Image" alt=""></a>
                        <a href="@url">@item.Name</a>
                        <p>@item.Price</p>
                        <div class="icon-b">
                         

                            <a href="#" data-id="@item.ID" id="btnAddToCart"> <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                }
            }
            else
            {
                <span class="text-danger">Khong co sach cua tac gia nay</span>
            }



        </div>
        <div class="number">
            @if (Model.TotalPages > 1)
            {
                // Create numeric links
                var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                <nav>
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li>
                                <a href="?page=1" aria-label="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (Model.Page < Model.TotalPages)
                        {
                            <li>
                                <a href="?page=@(Model.Page+1)" aria-label="Next">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@Model.TotalPages" aria-label="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>

    </div>
</div>
